
.AppBody {
  background-color: rgb(206, 206, 206);
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.CreateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.AppBody label {
  margin: 10px;
}
.AppBody span {
  padding: 10px;
}

.Cards {
  display: flex;
  flex-direction: row;
}

.Card {
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 500px
}

.CardImage {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-left: 30px
}

.CardWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb3 {
  width: 23rem;
}

.formcontrol {
  width: 23rem;
}

.btn {
  margin: 40px;
}