.Header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header h2 { 
    display: flex;
    color: red;
    padding-left: 10px;
    flex-grow: 1;
}

.Header a {
    padding-right: 18px;
    text-align: right;
    text-decoration: none;
    color: black
}

.Header li {
    list-style: none;
    padding-right: 18px;
    cursor: pointer;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    padding-left: 0
}