.CollectionPage {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
  }

.body {
    display: flex;
    flex-grow: 1;
    background-color: rgb(206, 206, 206);
    flex-wrap: wrap;  
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Cards {
    display: flex;
    flex-direction: row;
}
  
.Card {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    align-items: stretch;
}
  
.CardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px
}
  
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.ControlsBtn {
    margin: 20px;
}
  
.CardWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;

}

.priceCategory {
    display: flex;
    margin: 15px ;
    
}

.price{
    color: #0a3867;
    margin: 0 30px
}

.category{
    color: #0a3867;
    margin: 0 30px
}

.description {
    color: #0a3867;
    
}

.subtitle {
    font-size: .7rem;
    color: #1c65b3
}
.ownerSection {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mb3 {
    width: 23rem;
}
  
.formcontrol {
    width: 23rem;
}
  
.btn {
    margin: 40px;
}