.CollectionPage {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
  }

.body {
    display: flex;
    flex-grow: 1;
    background-color: rgb(206, 206, 206);
    flex-wrap: wrap;  
    justify-content: center;
}

.Cards {
    display: flex;
    flex-direction: row;
  }
  
.Card {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    align-items: stretch;
}
  
.CardImage {
    display: flex;
    justify-content: center;
    width: 30rem;
}
  
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.ControlsBtn {
    margin: 20px;
}
  
.CardWords {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.mb3 {
    width: 23rem;
}
  
.formcontrol {
    width: 23rem;
}
  
.btn {
    margin: 40px;
}